.el-container {
  padding: 20px 0;
}

.archives {
  //   background: yellowgreen;
  margin: 10px 0;
  border-bottom: 1px solid #f2f2f2;

  &-header {
    height: 68px;
    // background: red;
    line-height: 80px;
    font-weight: bolder;
    font-size: 20px;

    a {
      &:link,
      &:visited,
      &:hover {
        color: #313131;
      }
    }
  }

  &-content {
    padding: 10px 0;
    // background: blue;

    p {
      font-size: 14px !important;
      color: #3e3e3e;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    height: 40px;
    font-size: 12px;
    color: #616161;

    p {
      margin-left: 5px;
    }

    .el-icon-price-tag {
      margin-left: 20px;
    }
  }
}

a {
  text-decoration: none;
}
